[report]
omit =
    *kali/*
    *tests/*
    *certifi/*
    *chardet/*
    *click/*
    *flasgger/*
    *flask/*
    *flask_api/*
    *flask_sqlalchemy*
    *idna/*
    *jinja2/*
    *jsonschema/*
    *jwt/*
    *markupsafe/*
    *psycopg2/*
    *requests/*
    *six.py*
    *sqlalchemy/*
    *werkzeug/*
    *yaml/*
    *asyncio/*
    *cgi.py*
    *concurrent/*
    *decimal.py*
    *encodings/*
    *hmac.py *
    *html/*
    *http/*
    *mimetypes.py*
    *multiprocessing/*
    *numbers.py*
    *pydoc.py*
    *stringprep.py*
    *uuid.py*







